<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
  <!-- <h3><%= ["hello", "ayush", "maya"][0] %></h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eveniet a voluptates, fugit exercitationem ipsa nesciunt iusto enim illum dolore ipsum eos animi natus? Delectus ea expedita recusandae nihil impedit.
    Temporibus nulla facilis voluptatum. Excepturi, quod. Facilis commodi dignissimos aut ad aboriosam a assumenda repudiandae, qui molestias nam libero. Quia beatae eligendi asperiores omnis rerum sapiente magni exercitationem id?
  <button>click me!</button>
    Quae fuga commodi deleniti dolore enim vero maiores laborum officia! Cum, voluptates aut maiores est, animi magnam corrupti tempore voluptatibus vero laboriosam dolore quo pariatur, quas nihil quos odio? Eligendi. -->
   <h1>Dice gave value : <%= num %></h1>
  </body>
</html>