<%-- include("includes/head.ejs") %>
<body>
    <h1>Dice gave value : <%= diceVal %></h1>
      <% if(diceVal == 6) { %>
    <h2>Nice! Roll dice again.</h2> <!--code from ths is for printing logic on broswer of js-->
 <% } %>

 <%- include("includes/footer.ejs") %>
</body>
</html>